@import url('color-font.css');

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  background-color: var(--body-background);
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

h2 {
  margin:0px;
}