.new-tweet {
  display: none;
  width: 100%;
  margin-top: 1em;
}

#tweet-text {
  outline: none;
  display: block;
  height: auto;
  width: 100%;
  padding: 0;
  background-color: transparent;
  font-weight: 600;
  resize: none;
  border: 0px;
  border-bottom: 0.1em solid black;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
}

.new-tweet-footer>button {
  background-color: #2a4fc9;
  color: #ffff;
  border: 0px;
  margin-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.counter {
  margin-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: black;
}

#error {
  display: flex;
  align-items: center;
  align-self: self-end;
  color: red;
  margin: 0px;
  font-weight: 400;
  padding-top: 0.2em;
}

#error>* {
  margin: 0px;
  padding-right: 0.2em;
}