.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 50px;
  width: 100%;
};

.tweet-input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  border-bottom: 2px solid black;
}

.new-tweet--input {
  display:block;
  height: 1em;
  width: 100%;
  background-color: transparent;
  resize: none;
  border: 0px;
  border-bottom: 0.1em solid black;
}

.new-tweet--footer > button {
  background-color: #2a4fc9;
  color: #ffff;
  border: 0px;
  margin-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.counter {
  margin-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: black;
}

.tweet-counter {
  width: 100%;
  padding-top: .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.tweet-text {
  background-color: transparent;
  border: none;
  outline: none;
  height: 36px;
  resize: none;
  color: black;
  margin-top: 1%;
}

